<!DOCTYPE html>
<html ng-app="FastMatcherDemo">

<head>
    <title>FastMatcher Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="fastMatcher.js"></script>
    <script src="demo.js"></script>

    <style>
        body { overflow-y: scroll; }
        .container { margin-top: 15px; width: 100%; }
        .definition-list { display: table; padding-left: 0; }
        .definition-list li { display: table-row; }
        .definition-list li .part-of-speech,
        .definition-list li .definition {
            display: table-cell;
            padding-right: 1em;
        }
        .part-of-speech:before { content: "("; }
        .part-of-speech:after { content: ")"; }
    </style>
</head>

<body ng-controller="DemoController">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="page-header">
                    <h1>FastMatcher Demo</h1>
                    <p class="lead hidden-xs">
                        This demo searches against the <a href="http://wordnet.princeton.edu/">WordNet</a>
                        database, which has almost 150,000 words. The database is fetched on page load and
                        search results are produced immediately as you type.
                    </p>
                </div>

                <div class="form-group">
                    <label>Start typing a word.</label>
                    <input type="text" class="form-control" ng-model="search" />
                </div>

                <form class="hidden-xs">
                    <fieldset>
                        <legend>Options</legend>

                        <div class="form-group">
                            <label>Case sensitivity</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="matcher.options.caseInsensitive" />
                                    Case-insensitive
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>How many matches to find</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="limit" value="10" ng-model="matcher.options.limit" />
                                    10
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="limit" value="20" ng-model="matcher.options.limit" />
                                    20
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="limit" value="50" ng-model="matcher.options.limit" />
                                    50
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="alert alert-{{loaded ? 'success' : 'info'}}">
                    <p>{{(wordCount | number)}} words loaded</p>
                </div>

                <dl class="list-group">
                    <div class="list-group-item" ng-repeat="entry in matchingEntries">
                        <dt class="list-group-item-heading">{{entry.term}}</dt>
                        <dd ng-if="entry.definitions.length === 1">
                            <span class="part-of-speech">{{entry.definitions[0].pos}}</span>
                            <span class="definition">{{entry.definitions[0].def}}</span>
                        </dd>

                        <dd ng-if="entry.definitions.length > 1">
                            <ol class="definition-list">
                                <li ng-repeat="definition in entry.definitions">
                                    <span class="part-of-speech">{{definition.pos}}</span>
                                    <span class="definition">{{definition.def}}</span>
                                </li>
                            </ol>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <a href="https://github.com/dtao/fast-matcher"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>

</html>
