<!DOCTYPE html>
<html ng-app="FastMatchDemo">

<head>
    <title>FastMatch Demo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="../fastMatcher.js"></script>
    <script src="demo.js"></script>

    <style>
        .container { margin-top: 15px; width: 100%; }
        .definition-list { display: table; padding-left: 0; }
        .definition-list li { display: table-row; }
        .definition-list li .part-of-speech,
        .definition-list li .definition {
            display: table-cell;
            padding-right: 1em;
        }
        .part-of-speech:before { content: "("; }
        .part-of-speech:after { content: ")"; }
    </style>
</head>

<body ng-controller="DemoController">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="page-header">
                    <h1>FastMatch Demo</h1>
                    <p class="lead">
                        This demo searches against the <a href="http://wordnet.princeton.edu/">WordNet</a>
                        database, which has almost 150,000 words. The database is fetched on page load and
                        search results are produced immediately as you type.
                    </p>
                </div>

                <div class="form-group">
                    <label>Start typing a word.</label>
                    <input type="text" class="form-control" ng-model="search" />
                </div>

                <form>
                    <fieldset>
                        <legend>Options</legend>

                        <div class="form-group">
                            <label>Case sensitivity</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="matcher.options.caseInsensitive" />
                                    Case-insensitive
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>How many matches to find</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="limit" value="10" ng-model="matcher.options.limit" />
                                    10
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="limit" value="20" ng-model="matcher.options.limit" />
                                    20
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="limit" value="50" ng-model="matcher.options.limit" />
                                    50
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="alert alert-{{loaded ? 'success' : 'info'}}">
                    <p>{{(wordCount | number)}} words loaded</p>
                </div>

                <dl class="list-group">
                    <div class="list-group-item" ng-repeat="entry in matchingEntries">
                        <dt class="list-group-item-heading">{{entry.term}}</dt>
                        <dd ng-if="entry.definitions.length === 1">
                            <span class="part-of-speech">{{entry.definitions[0].pos}}</span>
                            <span class="definition">{{entry.definitions[0].def}}</span>
                        </dd>

                        <dd ng-if="entry.definitions.length > 1">
                            <ol class="definition-list">
                                <li ng-repeat="definition in entry.definitions">
                                    <span class="part-of-speech">{{definition.pos}}</span>
                                    <span class="definition">{{definition.def}}</span>
                                </li>
                            </ol>
                        </dd>
                    </div>
                </dl>
            </div>
    </div>
</body>

</html>
